@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(./images/bg-sm.svg) no-repeat, #fafafa;
  background-size: cover;
}

.container {
  padding: 4rem 2rem;
  margin: 0 auto;
  max-width: 100%;
}

.show-case {
  display: block;
  width: 245px;
  height: 505px;
  border-radius: 30px;
  background: white;
  margin: 0 auto 4rem auto;
  -webkit-box-shadow: 1px 15px 30px rgba(60, 26, 73, 0.1);
          box-shadow: 1px 15px 30px rgba(60, 26, 73, 0.1);
  padding: 10px;
}

.app-inner {
  background: #f5f3f7;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.app-top {
  width: 100%;
  height: 66px;
  border-radius: 20px 20px 6px 6px;
  background: -webkit-gradient(linear, right top, left top, from(#e942ff), to(#8838ff));
  background: linear-gradient(to left, #e942ff, #8838ff);
  background-size: 100% 100%;
  padding: 1.75rem 1rem 1rem;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.14);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.14);
  position: relative;
  -webkit-animation: gradient 2s ease 2;
          animation: gradient 2s ease 2;
}

.app-top::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  width: 130px;
  height: 18px;
  border-radius: 0 0 20px 20px;
}

.app-top .app-top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.8rem;
  position: relative;
}

.app-top .app-top-info::before {
  content: url(./images/arrow-left.svg);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.app-top .app-top-info::after {
  content: url(./images/dots.svg);
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.app-top .avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid white;
  overflow: hidden;
  margin-right: 1rem;
}

.app-top .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.app-top .info h2 {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.8px;
  color: white;
  margin-bottom: 0.1rem;
}

.app-top .info p {
  font-size: 9px;
  letter-spacing: -0.5px;
  color: #d89eff;
}

.app-content {
  padding: 1rem 0.5rem;
  font-size: 9px;
  letter-spacing: -0.4px;
}

.app-content .msg-left {
  border-radius: 10px 10px 10px 3px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 128px;
  background: #ece4f1;
  color: #9241c8;
  position: relative;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.app-content .msg-left-text {
  background: #ece4f1;
}

.app-content .msg-right {
  margin-left: auto;
  margin-bottom: 0.5rem;
  border-radius: 10px 10px 3px 10px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
  position: relative;
  color: #6e5d7e;
  background: white;
  padding: 0.5rem;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.app-content #msg-6 {
  width: 128px;
}

.app-content #msg-7 {
  width: 85px;
  margin-bottom: 0.8rem;
}

.app-content .msg-right-text {
  background: white;
  z-index: 5;
}

.app-content .msg-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0.8rem 0 0.5rem 0;
}

.app-content .app-img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  margin: 0 0.25rem;
}

.app-content .app-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.app-content .msg-btn {
  background: -webkit-gradient(linear, left top, right top, from(#e942ff), to(#8838ff));
  background: linear-gradient(to right, #e942ff, #8838ff);
  width: 160px;
  color: white;
  padding: 0.5rem 1rem 0.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-content .msg-btn span {
  display: inline-block;
  position: relative;
}

.app-content .msg-btn span:first-of-type::before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #e570ff;
  position: absolute;
  top: -0.1rem;
  left: -1.4rem;
}

.app-content .msg-btn span:last-of-type {
  font-weight: 700;
  font-size: 12px;
}

.app-content .app-bottom {
  padding: 0.5rem 0.3rem 0.5rem 1.2rem;
  border-radius: 20px;
  height: 35px;
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.7rem;
  position: relative;
  overflow: hidden;
}

.app-content .app-bottom .reply {
  position: absolute;
  display: inline-block;
  top: 20%;
  left: 1.5rem;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  background: white;
  padding: 0.5rem;
  width: 100%;
  z-index: 0;
}

.app-content .app-bottom p {
  position: relative;
  color: #c6cacd;
  background: white;
  margin-top: 0.5rem;
  padding: 0.5rem;
  z-index: 0;
}

.app-content .app-bottom .app-bottom-btn {
  background: url(./images/arrow-right.svg) no-repeat 55% center, #3e2753;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: relative;
  z-index: 15;
  -webkit-animation: btn 3s 5;
          animation: btn 3s 5;
  -webkit-animation-delay: 10.3s;
          animation-delay: 10.3s;
}

.app-content .app-bottom .reply-1 {
  -webkit-animation: replies 10s backwards;
          animation: replies 10s backwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.app-content .app-bottom .reply-2 {
  -webkit-animation: replies 10s backwards;
          animation: replies 10s backwards;
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}

.app-content .app-bottom .reply-3 {
  -webkit-animation: replies 10s backwards;
          animation: replies 10s backwards;
  -webkit-animation-delay: 10.3s;
          animation-delay: 10.3s;
}

.app-content .app-bottom .reply-4 {
  -webkit-animation: replies 10s backwards;
          animation: replies 10s backwards;
  -webkit-animation-delay: 13.6s;
          animation-delay: 13.6s;
}

.app-content .app-bottom .reply-5 {
  -webkit-animation: replies 9s backwards;
          animation: replies 9s backwards;
  -webkit-animation-delay: 17.3s;
          animation-delay: 17.3s;
}

.app-content .msg {
  -webkit-animation: msg 3s;
          animation: msg 3s;
}

.app-content #msg-9,
.app-content #msg-10 {
  -webkit-animation: msg 2s, gradient 2s 2;
          animation: msg 2s, gradient 2s 2;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 30s, 32s;
          animation-delay: 30s, 32s;
}

.app-content .msg p {
  position: relative;
  z-index: 5;
  -webkit-animation: text 3s ease;
          animation: text 3s ease;
}

.app-content .type {
  width: 100%;
  top: 50%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-content .type .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #a39daa;
  margin-right: 0.4rem;
  z-index: 0;
  -webkit-animation: dots 800ms 3 backwards;
          animation: dots 800ms 3 backwards;
}

.app-content .msg-right .type {
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.text-content {
  text-align: center;
}

.text-content h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 1.375rem;
  color: #3e2753;
}

.text-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #a39daa;
}

#msg-1 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#msg-2 {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#msg-3 {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#msg-4 {
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#msg-5 {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#msg-6 {
  -webkit-animation-delay: 19s;
          animation-delay: 19s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#msg-7 {
  -webkit-animation-delay: 22s;
          animation-delay: 22s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#msg-8 {
  -webkit-animation-delay: 25s;
          animation-delay: 25s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#msg-1 p {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
}

#msg-2 p {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 7.8s;
          animation-delay: 7.8s;
}

#msg-3 p {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 10.8s;
          animation-delay: 10.8s;
}

#msg-4 p {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 13.8s;
          animation-delay: 13.8s;
}

#msg-5 p {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 16.8s;
          animation-delay: 16.8s;
}

#msg-6 p {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 19.8s;
          animation-delay: 19.8s;
}

#msg-7 p {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 22.8s;
          animation-delay: 22.8s;
}

#msg-8 p {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 25.8s;
          animation-delay: 25.8s;
}

#msg-1 .type .dot:nth-of-type(1) {
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
}

#msg-1 .type .dot:nth-of-type(2) {
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

#msg-1 .type .dot:nth-of-type(3) {
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
}

#msg-2 .type .dot:nth-of-type(1) {
  -webkit-animation-delay: 7.1s;
          animation-delay: 7.1s;
}

#msg-2 .type .dot:nth-of-type(2) {
  -webkit-animation-delay: 7.2s;
          animation-delay: 7.2s;
}

#msg-2 .type .dot:nth-of-type(3) {
  -webkit-animation-delay: 7.3s;
          animation-delay: 7.3s;
}

#msg-3 .type .dot:nth-of-type(1) {
  -webkit-animation-delay: 10.1s;
          animation-delay: 10.1s;
}

#msg-3 .type .dot:nth-of-type(2) {
  -webkit-animation-delay: 10.2s;
          animation-delay: 10.2s;
}

#msg-3 .type .dot:nth-of-type(3) {
  -webkit-animation-delay: 10.3s;
          animation-delay: 10.3s;
}

#msg-4 .type .dot:nth-of-type(1) {
  -webkit-animation-delay: 13.1s;
          animation-delay: 13.1s;
}

#msg-4 .type .dot:nth-of-type(2) {
  -webkit-animation-delay: 13.2s;
          animation-delay: 13.2s;
}

#msg-4 .type .dot:nth-of-type(3) {
  -webkit-animation-delay: 13.3s;
          animation-delay: 13.3s;
}

#msg-5 .type .dot:nth-of-type(1) {
  -webkit-animation-delay: 16.1s;
          animation-delay: 16.1s;
}

#msg-5 .type .dot:nth-of-type(2) {
  -webkit-animation-delay: 16.2s;
          animation-delay: 16.2s;
}

#msg-5 .type .dot:nth-of-type(3) {
  -webkit-animation-delay: 16.3s;
          animation-delay: 16.3s;
}

#msg-6 .type .dot:nth-of-type(1) {
  -webkit-animation-delay: 19.1s;
          animation-delay: 19.1s;
}

#msg-6 .type .dot:nth-of-type(2) {
  -webkit-animation-delay: 19.2s;
          animation-delay: 19.2s;
}

#msg-6 .type .dot:nth-of-type(3) {
  -webkit-animation-delay: 19.3s;
          animation-delay: 19.3s;
}

#msg-7 .type .dot:nth-of-type(1) {
  -webkit-animation-delay: 22.1s;
          animation-delay: 22.1s;
}

#msg-7 .type .dot:nth-of-type(2) {
  -webkit-animation-delay: 22.2s;
          animation-delay: 22.2s;
}

#msg-7 .type .dot:nth-of-type(3) {
  -webkit-animation-delay: 22.3s;
          animation-delay: 22.3s;
}

#msg-8 .type .dot:nth-of-type(1) {
  -webkit-animation-delay: 25.1s;
          animation-delay: 25.1s;
}

#msg-8 .type .dot:nth-of-type(2) {
  -webkit-animation-delay: 25.2s;
          animation-delay: 25.2s;
}

#msg-8 .type .dot:nth-of-type(3) {
  -webkit-animation-delay: 25.3s;
          animation-delay: 25.3s;
}

@-webkit-keyframes msg {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0;
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes msg {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0;
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes dots {
  0% {
    background: #a39daa;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 1;
    z-index: 5;
  }
  40% {
    background: #fafafa;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  80% {
    background: #a39daa;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes dots {
  0% {
    background: #a39daa;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 1;
    z-index: 5;
  }
  40% {
    background: #fafafa;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  80% {
    background: #a39daa;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@-webkit-keyframes text {
  0% {
    opacity: 0;
    z-index: 0;
  }
  70% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 15;
  }
}

@keyframes text {
  0% {
    opacity: 0;
    z-index: 0;
  }
  70% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 15;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
    background-size: 200% 200%;
  }
  50% {
    background-position: 100% 50%;
    background-size: 200% 200%;
  }
  100% {
    background-position: 0% 50%;
    background-size: 200% 200%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
    background-size: 200% 200%;
  }
  50% {
    background-position: 100% 50%;
    background-size: 200% 200%;
  }
  100% {
    background-position: 0% 50%;
    background-size: 200% 200%;
  }
}

@-webkit-keyframes replies {
  0% {
    opacity: 0;
    z-index: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  50% {
    opacity: 0;
    z-index: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  80% {
    opacity: 1;
    z-index: 10;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    opacity: 0;
    z-index: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
}

@keyframes replies {
  0% {
    opacity: 0;
    z-index: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  50% {
    opacity: 0;
    z-index: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  80% {
    opacity: 1;
    z-index: 10;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    opacity: 0;
    z-index: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
}

@-webkit-keyframes btn {
  0% {
    background-color: #3e2753;
  }
  50% {
    background-color: #3e2753;
  }
  80% {
    background-color: #e942ff;
  }
  100% {
    background-color: #3e2753;
  }
}

@keyframes btn {
  0% {
    background-color: #3e2753;
  }
  50% {
    background-color: #3e2753;
  }
  80% {
    background-color: #e942ff;
  }
  100% {
    background-color: #3e2753;
  }
}

@media (min-width: 410px) {
  body {
    background: url(./images/bg-med.svg) no-repeat, #fafafa;
    background-size: 120%;
  }
}

@media (min-width: 910px) {
  body {
    background: url(./images/bg-big.svg) no-repeat, #fafafa;
    background-size: 100%;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 55rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 9rem;
  }
  .show-case {
    max-width: 245px;
    margin-right: 7.5rem;
  }
  .text-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
  }
}
